

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.mission{
	font-family: monospace;
}




@media (max-width: 400px) { 
    
    .buttonWidth {
        font-size: 22px;
        padding: 10px 16px;
        border-radius: 6px;
        margin-left: auto;
        margin-right: auto;
    }
}










