

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.mission{
	font-family: monospace;
}

canvas#surface {
  width: 30px;
  height: 30px;


/*margin-left: 20%;
  padding: 5px;*/
}
.canvas-wrapper {
 
}

footer div.container div.row div.col-md-4{

	margin: 0px 0px 30px 0px;
}

@media (max-width: 400px) { 
    
    .buttonWidth {
        font-size: 22px;
        padding: 10px 16px;
        border-radius: 6px;
        margin-left: auto;
        margin-right: auto;
    }
}


nav.navbar{
  opacity:"0.0";}

.intro-lead-in{
  opacity:"0.0";
  color: black;

}



.intro-heading{
  opacity:"0.0";
  color: black;
}


.btn-xl{opacity:"0.0";
color:black;
background-color: black;
border-color: black;}

#habla_window_state_div{opacity:"0.0.0";}









