@font-face { 
	font-family: 'Oswald', sans-serif;}



body {
	font-family:"Oswald";
}

.logo{
	float: left;
	display:inline-block;
}

.sidebar{
float: left;
width: 10%;
}

.blogpost{
	float: right;
    display:block;
	
}
.nobullets{
	list-style-type: none;
}
.inline-nav{
	display: inline;
	float: right;
	padding:0px :0px :0px :0px;
}

.clear{
	clear:both;
}