/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    body {
        margin-bottom: 15%;
    }

    .content-bg{
        padding-top: 13%;
    }

    .footer-row {
        position: absolute;
        margin: 0px auto;
        bottom: 0px;
    }

    .form-signin {
        max-width: 600px;
        padding-top: 15px;
    }

    .form-signin .form-control {
        position: relative;
        height: 100px;
        margin: 0 auto;
        font-size: 20px;
        text-indent: 15px;
        min-width: 600px !important;
    }

    .help-number:after{

        font-size: 1.2em;
    }

    .sign-up-button {

        height: 100px;
        margin: 0 auto;
        font-size: 2em;
        text-indent: 15px;
        margin-top: 30px;
        min-width: 600px !important;
    }

    .responsive-header {
        padding-top: 110px !important;
        font-size: 2.5em !important;

    }

    .responsive-text {
        font-size: 1.4em !important;
        padding-bottom: 20px;
    }

    .jumbotron {
        min-height: 450px;
    }

    .help-number {
        line-height: 2;
    }

    .responsive-input-text {
        font-size: 1.8em !important;
        padding-top: 60px !important;

    }

    .responsive-footer-copy {
        line-height: 1;
    }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    body {
        margin-bottom: 15%;
        z-index: 1;
    }

    .footer-row {
        position: relative;
        margin: 0px auto;
        bottom: 0px;
        height: 50px;

    }

    .form-signin {
        max-width: 500px;
        padding-top: 15px;
    }

    .form-signin .form-control {
        position: relative;
        height: 60px;
        margin: 0 auto;
        font-size: 20px;
        text-indent: 15px;
        min-width: 500px !important;
    }

    .sign-up-button {
        height: 60px;
        margin: 0 auto;
        font-size: 20px;
        text-indent: 15px;
        margin-top: 30px;
        min-width: 500px !important;
    }

    .responsive-header {
        padding-top: 110px !important;
        font-size: 2.5em !important;

    }

    .responsive-text {
        font-size: 1.4em !important;
        padding-bottom: 20px;
    }

    .jumbotron {
        min-height: 450px;
    }

    .help-number {
        line-height: 2;
    }

    .responsive-input-text {
        font-size: 1.4em !important;
        padding-top: 60px !important;

    }

    .responsive-footer-copy {
        line-height: 1;
    }


}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    body {
        margin-bottom: 15%;
    }

    .content-bg{
        padding-top: 13%;
    }

    .footer-row {
        position: absolute;
        margin: 0px auto;
        bottom: 0px;
    }

    .form-signin {
        max-width: 600px;
        padding-top: 15px;
    }

    .form-signin .form-control {
        position: relative;
        height: 100px;
        margin: 0 auto;
        font-size: 20px;
        text-indent: 15px;
        min-width: 600px !important;
    }

    .help-number:after{

        font-size: 1.2em;
    }

    .sign-up-button {

        height: 100px;
        margin: 0 auto;
        font-size: 2em;
        text-indent: 15px;
        margin-top: 30px;
        min-width: 600px !important;
    }

    .responsive-header {
        padding-top: 110px !important;
        font-size: 2.5em !important;

    }

    .responsive-text {
        font-size: 1.4em !important;
        padding-bottom: 20px;
    }

    .jumbotron {
        min-height: 450px;
    }

    .help-number {
        line-height: 2;
    }

    .responsive-input-text {
        font-size: 1.8em !important;
        padding-top: 60px !important;

    }

    .responsive-footer-copy {
        line-height: 1;
    }
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    body {
        margin-bottom: 15%;
    }

    .content-bg{
        padding-top: 13%;
    }

    .footer-row {
        position: absolute;
        margin: 0px auto;
        bottom: 0px;
    }

    .form-signin {
        max-width: 600px;
        padding-top: 15px;
    }

    .form-signin .form-control {
        position: relative;
        height: 100px;
        margin: 0 auto;
        font-size: 20px;
        text-indent: 15px;
        min-width: 600px !important;
    }

    .help-number:after{

        font-size: 1.2em;
    }

    .sign-up-button {

        height: 100px;
        margin: 0 auto;
        font-size: 2em;
        text-indent: 15px;
        margin-top: 30px;
        min-width: 600px !important;
    }

    .responsive-header {
        padding-top: 110px !important;
        font-size: 2.5em !important;

    }

    .responsive-text {
        font-size: 1.4em !important;
        padding-bottom: 20px;
    }

    .jumbotron {
        min-height: 450px;
    }

    .help-number {
        line-height: 2;
    }

    .responsive-input-text {
        font-size: 1.8em !important;
        padding-top: 60px !important;

    }

    .responsive-footer-copy {
        line-height: 1;
    }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    body {
        margin-bottom: 15%;
    }

    .content-bg{
        padding-top: 13%;
    }

    .footer-row {
        position: absolute;
        margin: 0px auto;
        bottom: 0px;
    }

    .form-signin {
        max-width: 600px;
        padding-top: 15px;
    }

    .form-signin .form-control {
        position: relative;
        height: 100px;
        margin: 0 auto;
        font-size: 20px;
        text-indent: 15px;
        min-width: 600px !important;
    }

    .help-number:after{

        font-size: 1.2em;
    }

    .sign-up-button {

        height: 100px;
        margin: 0 auto;
        font-size: 2em;
        text-indent: 15px;
        margin-top: 30px;
        min-width: 600px !important;
    }

    .responsive-header {
        padding-top: 110px !important;
        font-size: 2.5em !important;

    }

    .responsive-text {
        font-size: 1.4em !important;
        padding-bottom: 20px;
    }

    .jumbotron {
        min-height: 450px;
    }

    .help-number {
        line-height: 2;
    }

    .responsive-input-text {
        font-size: 1.8em !important;
        padding-top: 60px !important;

    }

    .responsive-footer-copy {
        line-height: 1;
    }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    body {
        margin-bottom: 15%;
    }

    .content-bg{
        padding-top: 13%;
    }

    .footer-row {
        position: absolute;
        margin: 0px auto;
        bottom: 0px;
    }

    .form-signin {
        max-width: 600px;
        padding-top: 15px;
    }

    .form-signin .form-control {
        position: relative;
        height: 100px;
        margin: 0 auto;
        font-size: 20px;
        text-indent: 15px;
        min-width: 600px !important;
    }

    .help-number:after{

        font-size: 1.2em;
    }

    .sign-up-button {

        height: 100px;
        margin: 0 auto;
        font-size: 2em;
        text-indent: 15px;
        margin-top: 30px;
        min-width: 600px !important;
    }

    .responsive-header {
        padding-top: 110px !important;
        font-size: 2.5em !important;

    }

    .responsive-text {
        font-size: 1.4em !important;
        padding-bottom: 20px;
    }

    .jumbotron {
        min-height: 450px;
    }

    .help-number {
        line-height: 2;
    }

    .responsive-input-text {
        font-size: 1.8em !important;
        padding-top: 60px !important;

    }

    .responsive-footer-copy {
        line-height: 1;
    }
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    body {
        margin-bottom: 15%;
    }

    .content-bg{
        padding-top: 13%;
    }

    .footer-row {
        position: absolute;
        margin: 0px auto;
        bottom: 0px;
    }

    .form-signin {
        max-width: 600px;
        padding-top: 15px;
    }

    .form-signin .form-control {
        position: relative;
        height: 100px;
        margin: 0 auto;
        font-size: 20px;
        text-indent: 15px;
        min-width: 600px !important;
    }

    .help-number:after{

        font-size: 1.2em;
    }

    .sign-up-button {

        height: 100px;
        margin: 0 auto;
        font-size: 2em;
        text-indent: 15px;
        margin-top: 30px;
        min-width: 600px !important;
    }

    .responsive-header {
        padding-top: 110px !important;
        font-size: 2.5em !important;

    }

    .responsive-text {
        font-size: 1.4em !important;
        padding-bottom: 20px;
    }

    .jumbotron {
        min-height: 450px;
    }

    .help-number {
        line-height: 2;
    }

    .responsive-input-text {
        font-size: 1.8em !important;
        padding-top: 60px !important;

    }

    .responsive-footer-copy {
        line-height: 1;
    }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    body {
        margin-bottom: 15%;
    }

    .content-bg{
        padding-top: 13%;
    }

    .footer-row {
        position: absolute;
        margin: 0px auto;
        bottom: 0px;
    }

    .form-signin {
        max-width: 600px;
        padding-top: 15px;
    }

    .form-signin .form-control {
        position: relative;
        height: 100px;
        margin: 0 auto;
        font-size: 20px;
        text-indent: 15px;
        min-width: 600px !important;
    }

    .help-number:after{

        font-size: 1.2em;
    }

    .sign-up-button {

        height: 100px;
        margin: 0 auto;
        font-size: 2em;
        text-indent: 15px;
        margin-top: 30px;
        min-width: 600px !important;
    }

    .responsive-header {
        padding-top: 110px !important;
        font-size: 2.5em !important;

    }

    .responsive-text {
        font-size: 1.4em !important;
        padding-bottom: 20px;
    }

    .jumbotron {
        min-height: 450px;
    }

    .help-number {
        line-height: 2;
    }

    .responsive-input-text {
        font-size: 1.8em !important;
        padding-top: 60px !important;

    }

    .responsive-footer-copy {
        line-height: 1;
    }
}